<div id="shop_nav">
  <ul>
    <li><%= link_to "SHOP",root_path %></li>
    <li><%= link_to "ABOUT US", root_path %></li>
    <li><%= link_to "FQA", root_path %></li>
    <li><%= link_to "CONTACT", root_path %></li>
  </ul>
</div>